services:
  qdrant:
    image: qdrant/qdrant:v1.15.5
    container_name: qdrant
    restart: always
    ports:
      - "6333:6333"
      - "6334:6334"
    environment:
      - QDRANT__SERVICE__API_KEY=${QDRANT_PASSWORD}
    volumes:
      - qdrant_storage:/qdrant/storage

volumes:
  qdrant_storage: